@page
@model Help.EndPoints.RazorPage.Areas.UserPanel.Pages.ChangePasswordModel
@{
}

@if (Model.Message != null)
{
    <div class="alert alert-danger" role="alert">
        @Model.Message
    </div>
}

<div class="container">
    <div class="main-body">
        <partial name="_Breadcrumb" />

        <div class="row gutters-sm">


            <div class="col-md-4 mb-3">
                @await Component.InvokeAsync("SideMenu")
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                        <form method="post">
                            <div class="login-form">
                                <h4 class="login-title">اطلاعات کاربر</h4>
                                <div class="col-md-6 col-12 mb-20">
                                    <label>رمز عبور</label>
                                    <input type="password" asp-for="ChangePassword.Password" placeholder="رمز عبور">
                                    <span class="text-danger" asp-validation-for="ChangePassword.Password"></span>
                                </div>
                                <div class="col-md-6 col-12 mb-20">
                                    <label>تکرار رمز عبور</label>
                                    <input type="password" asp-for="ChangePassword.RePassword" placeholder="تکرار رمز عبور">
                                    <span class="text-danger" asp-validation-for="ChangePassword.RePassword"></span>
                                </div>
                                <hr />
                                <input type="hidden" asp-for="ChangePassword.Id" value="@Model.ChangePassword.Id" />
                            <div class="col-12">
                                <button class="register-button mt-0">ثبت</button>
                            </div>
                            </div>
                        </form>

                   
                </div>
            </div>
        </div>
    </div>

</div>

