@page "{id}"
@model Help.EndPoints.RazorPage.Areas.UserPanel.Pages.EditHelpRequestModel
@{
}

@if (Model.Message != null)
{
    <div class="alert alert-danger" role="alert">
        @Model.Message
    </div>
}

<link href="~/AdminTheme/assets/css/persian-datepicker.min.css" rel="stylesheet" />
<script src="~/AdminTheme/assets/js/persian-date.min.js"></script>
<script src="~/AdminTheme/assets/js/persian-datepicker.min.js"></script>

<div class="container">
    <div class="main-body">
        <partial name="_Breadcrumb" />

        <div class="row gutters-sm">


            <div class="col-md-4 mb-3">
                @await Component.InvokeAsync("SideMenu")
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <form method="post">
                        <div class="login-form">
                            <h4 class="login-title">ویرایش درخواست</h4>
                            <div class="col-md-6 col-12 mb-20">
                                <label>عنوان</label>
                                <input type="text" asp-for="EditHelpRequest.Title" placeholder="عنوان">
                                <span class="text-danger" asp-validation-for="EditHelpRequest.Title"></span>
                            </div>
                            <div class="col-md-6 col-12 mb-20">
                                <label>توضیحات</label>
                                <input type="text" asp-for="EditHelpRequest.Description" placeholder="توضیحات">
                                <span class="text-danger" asp-validation-for="EditHelpRequest.Description"></span>
                            </div>
                            <div class="col-md-6 col-12 mb-20">
                                <label>تاریخ انقضای درخواست</label>
                                <input class="persianDateInput" asp-for="EditHelpRequest.ExpirationDate">
                                <span class="text-danger" asp-validation-for="EditHelpRequest.ExpirationDate"></span>
                            </div>
                            <div class="col-md-6 col-12 mb-20">
                                <label>قیمت پیشنهادی به تومان</label>
                                <input type="number" asp-for="EditHelpRequest.ProposedPrice" placeholder="قیمت پیشنهادی به تومان  ">
                                <span class="text-danger" asp-validation-for="EditHelpRequest.ProposedPrice"></span>
                            </div>
                            <div class="col-md-6 col-12 mb-20">
                                <select class="form-control" asp-for="EditHelpRequest.ServiceId"
                                        asp-items='new SelectList(@Model.EditHelpRequest.Services, "Id", "Title")'>
                                    <option value="0">گروه </option>
                                </select>
                                <span class="text-danger" asp-validation-for="EditHelpRequest.ServiceId"></span>
                            </div>
                            <hr />
                            <input type="hidden" asp-for="EditHelpRequest.CustomerId" value="@Model.EditHelpRequest.CustomerId" />
                            <div class="col-12">
                                <button class="register-button mt-0">ثبت</button>
                            </div>
                            <input type="hidden" asp-for="EditHelpRequest.Id" />
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>

</div>

