@page
@inject Base_Framework.Domain.Core.Contracts.IAuthHelper _authHelper;
@model Help.EndPoints.RazorPage.Pages.AccountModel
@{
    ViewData["Title"] = "ورود و ثبت نام";
}

@if(Model.Message != null)
{
    @section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $(function () {
            
            Swal.fire({
                title: "لطفا دوباره امتحان کنید.",
                showConfirmButton: false,
                timer: 2500,
                text: "@Html.Raw(Model.Message)",
                    icon: "error"
            });
        });
    </script>

      
}
   
}

@if (Model.SuccessRegisterMessage != null)
{

    @section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(function () {

                Swal.fire({
                    title: "لطفا وارد شوید.",
                    showConfirmButton: false,
                    timer: 2500,
                text:"ثبت نام با موفقیت انجام شد. لطفا وارد شوید.",
                icon: "success"
                    });
                });
        </script>
    }
}

<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">ورود و ثبت نام</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li><a asp-page="/Index">صفحه اصلی</a></li>
                            <li class="active">ورود - ثبت نام</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">
                            
                                <form method="post" asp-page-handler="Login" asp-route-id="@_authHelper.CurrentAccountId()">
                                    <div class="login-form">
                                        <h4 class="login-title">ورود</h4>
                                        <div class="row">
                                            <div class="col-md-12 col-12">
                                                <label>نام کاربری</label>
                                                <input type="text" name="UserName" placeholder="نام کاربری">
                                            </div>
                                            <div class="col-12">
                                                <label>کلمه رمز</label>
                                                <input type="password" name="Password" placeholder="کلمه رمز">
                                            </div>

                                            @*<div class="col-sm-6">
                                                    <div class="check-box d-inline-block ml-0 ml-md-2">
                                                        <input type="checkbox" id="remember_me">
                                                        <label for="remember_me">Remember me</label>
                                                    </div>
                                                </div>*@

                                            <div class="col-sm-6 text-left text-sm-right">
                                                <a href="#" class="forget-pass-link">رمز را فراموش کرده اید؟</a>
                                            </div>

                                            <div class="col-md-12">
                                                <button class="register-button">ورود</button>
                                            </div>

                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                                
                                <form method="post" asp-page-handler="Register">
                                    <div class="login-form">
                                        <h4 class="login-title">ثبت نام</h4>
                                        <div class="row">
                                            <div class="col-md-6 col-12 mb-20">
                                                <label>نام کامل</label>
                                                <input type="text" asp-for="RegisterModel.FullName" placeholder="نام کامل">
                                                <span class="text-danger" asp-validation-for="RegisterModel.FullName"></span>
                                            </div>
                                            <div class="col-md-6 col-12 mb-20">
                                                <label>نام کاربری</label>
                                                <input type="text" asp-for="RegisterModel.UserName" placeholder="نام کاربری">
                                                <span class="text-danger" asp-validation-for="RegisterModel.UserName"></span>
                                            </div>
                                            <div class="col-md-12 mb-20">
                                                <label>موبایل</label>
                                                <input type="number" asp-for="RegisterModel.Mobile" placeholder="موبایل">
                                                <span class="text-danger" asp-validation-for="RegisterModel.Password"></span>
                                            </div>
                                            <div class="col-md-6 mb-20">
                                                <label>کلمه رمز</label>
                                                <input type="password" asp-for="RegisterModel.Password" placeholder="کلمه رمز">
                                                <span class="text-danger" asp-validation-for="RegisterModel.Password"></span>
                                            </div>
                                            <div class="col-md-6 mb-20">
                                                <label>تایید کلمه رمز</label>
                                                <input type="password" asp-for="RegisterModel.RePassword" placeholder="تایید کلمه رمز">
                                                <span class="text-danger" asp-validation-for="RegisterModel.RePassword"></span>
                                            </div>
                                            <div class="col-12">
                                                <button class="register-button mt-0">ثبت نام</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

